<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitc.myapppush.android_team3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="Team3"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTeam3">
        <!-- H_Map   지도 페이지 -->
        <activity
            android:name=".H_Map_Detail1"
            android:exported="true"
            android:parentActivityName=".H_Map"></activity>
        <activity
            android:name=".H_Map"
            android:exported="true"
            android:parentActivityName=".k_Main"></activity> <!-- k_Main   메인 페이지 -->
        <activity
            android:name=".k_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>