<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitc">
    <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <!-- android:usesCleartextTraffic="true" 이거 없으면 http:// 통신이 불가능하다  -->
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp0209"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".L_MemberDetailActivity"
            android:exported="false"
            android:parentActivityName=".k_Main"/>
        <activity
            android:name=".L_MemberListActivity"
            android:exported="false"
            android:parentActivityName=".k_Main"/>
        <activity
            android:name=".L_RegisterActivity"
            android:exported="false"
            android:parentActivityName=".L_LoginActivity"/>
        <activity
            android:name=".L_LoginActivity"
            android:exported="false"
            android:parentActivityName=".k_Main"/>
        <!-- H_Main  게시글 페이지 -->
        <activity
            android:name=".H_BoardWrite"
            android:exported="false"
            android:parentActivityName=".H_Board" />
        <activity
            android:name=".H_Board"
            android:exported="true"
            android:parentActivityName=".k_Main" /> <!-- H_Map   지도 페이지 -->
        <activity
            android:name=".H_Map_Detail1"
            android:exported="true"
            android:parentActivityName=".H_Map" />
        <activity
            android:name=".H_Map"
            android:exported="true"
            android:parentActivityName=".k_Main" /> <!-- k_Main  메인 페이지 -->
        <activity
            android:name=".k_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>